* {
box-sizing : border-box;
}
body {
margin : 0;
}
.navbar {
background-color :  #ccf2ff;
text-align : center;
padding : 20px;
overflow : none;
}
.navbar a {
padding : 20px;
font-size : 20px;
text-decoration : none;
}
.webname {
text-align : left;
float : left;
font-size : 20px;
}
.tab1 {
border : solid 1px #f1f1f1;
}
.p1 {
border : solid 1px #f1f1f1;
padding : 20px;
}
.p1 h1{
text-align : center;
}
.p1 p{
text-align : center;

}	
.footer {
text-align : center;
}

.sec1 {
color : white;
background-color : black;
float : left;

width : 30%;
}
.sec2 {
color : white;
background-color : black;
float : left;
width : 30%;
}
.sec3 {
color : white;
background-color : black;
float : left;
width : 40%;
}